# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ChiXingProject\j03s_stu\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
